.App {
  margin: 5px 70px;
}

.table-primary:hover td,
.table-info:hover td,
.table-secondary:hover td {
  border-color: #bbc6d9;
}

.table_days {
  margin-top: 5px;
}

.table_days table {
  text-align: center;
  border: none;
}

.table_days thead th {
  color: #fff;
  background-color: #343a40;
  border-color: #454d55;
  border-width: 1px;
  font-weight: 400;
  vertical-align: middle !important;
  font-size: 14px;
}

.table_days table tbody tr {
  border-color: #bbc6d9;
}

.login-line {
  padding-bottom: 0px;
  color: #343a40;
  font-weight: 500;
  flex: auto;
}

.login-line button {
  margin-left: 10px;
}

.relative {
  position: relative;
}

.button_delete button {
  position: absolute;
  padding: 0.5rem 0.5rem;
  vertical-align: middle;
  font-size: 14px;
  text-decoration: none;
}

.button_delete button:hover {
  text-decoration: underline;
}

.App button:focus,
.App button:active,
.App button:active:focus,
.button_delete button:focus,
.table_days input:focus {
  box-shadow: none;
}

.th_hide {
  border: 0 !important;
  font-size: 0px !important;
  padding: 0px !important;
  width: 0px !important;
  border: none !important;
  border-right-style: hidden;
}

.button_add_line {
  border: none;
}

.table_days .button_add_line:hover,
.table_days .loading_body:hover {
  background-color: transparent !important;
  --bs-table-hover-bg: transparent;
}

.button_add {
  text-align: end;
}

.button_add button {
  margin-top: 7px;
}

/* .loading_body {
  border: none;
} */

/* .loading_body th {
  border: none !important;
} */

.loading_body {
  margin: 50px 0;
  text-align: center;
}

/* .loading_body:hover {
  background-color: transparent !important;
} */
